#leafDeuxBranchOne.wikiImage, 
#leafDeuxBranchTwo.wikiImage,
#leafDeuxBranchThree.wikiImage,
#leafDeuxBranchFour.wikiImage {
	font: 400 .75em "Gill Sans", Helvetica, Arial, sans-serif;
	text-align: center;
	height: 318px;
	width: 220px;
	-moz-transform: scale(1) !important;
	margin-left: 92px;
	margin-top: 50px;
	border: 1px solid green;
		border-radius: 5px;
}

div#divWords_leafDeuxBranchOne.divTitleTexts:hover,
div#divWords_leafDeuxBranchTwo.divTitleTexts:hover,
div#divWords_leafDeuxBranchThree.divTitleTexts:hover,
div#divWords_leafDeuxBranchFour.divTitleTexts:hover {
	color: white;
	-moz-animation: none !important;
	
}

div.divTitleTexts {
	text-align: center;
	height: 30px;
	width: 80px;
	-moz-transition: color .5s;
	cursor: pointer;
}
	div#divWords_leafDeuxBranchOne.divTitleTexts {
		margin-top: -170px;
		margin-left: -10px;
		-moz-animation-name: wipeAnimation;
			-moz-animation-duration: 10s;
			-moz-animation-direction: reverse;
			-moz-animation-iteration-count: infinite;
			-moz-animation-delay: 7s;
	}
	div#divWords_leafDeuxBranchTwo.divTitleTexts {
		margin-top: -170px;
		margin-left: 2px;
		-moz-animation-name: wipeAnimation;
			-moz-animation-duration: 9s;
			-moz-animation-iteration-count: infinite;
			-moz-animation-direction: reverse;
			-moz-animation-delay: 3s;
	}
	div#divWords_leafDeuxBranchThree.divTitleTexts {
		margin-top: -170px;
		margin-left: 97px;
		-moz-animation-name: wipeAnimation;
			-moz-animation-duration: 12s;
			-moz-animation-iteration-count: infinite;
			-moz-animation-direction: reverse;
			-moz-animation-delay: 5s;
	}
	div#divWords_leafDeuxBranchFour.divTitleTexts {
		margin-top: -210px;
		margin-left: 17px;
		-moz-animation-name: wipeAnimation;
			-moz-animation-duration: 7s;
			-moz-animation-iteration-count: infinite;
			-moz-animation-direction: reverse;
			-moz-animation-delay: 2s
	}
	
	@-moz-keyframes wipeAnimation {
		0% {
			color: black;
		}
		50% {
			color: white;
		}
		100% {
			color: black;
		}
	}
	
	h1#words_leafDeuxBranchOne.titleTexts,
	h1#words_leafDeuxBranchTwo.titleTexts,
	h1#words_leafDeuxBranchThree.titleTexts,
	h1#words_leafDeuxBranchFour.titleTexts {
		font: 300 1em "Gill Sans";
		text-align: center;
		display: inline;
	}
