#container {
	border: 1px solid #333;
		border-radius: 10px;
	height: 500px;
	width: 1000px;
	margin: 0 auto;
}
	#tree {
		border: 1px solid blue;
			border-radius: 10px;
		height: 496px;
		width: 996px;
		margin-left: 1px;
		margin-top: 1px;
		-moz-perspective: 500px;
		-webkit-perspective: 500px;
	}
		#mainBranch.branch {
			border: 1px solid #663300;
				border-radius: 10px;
			background-color: #663300;
			margin-top: 10px;
			margin-left: 202px;
			height: 49px;
			width: 790px;
		}
			#branchOne_Support {
				display: block;
				margin-left: 800px;
				width: 200px;
				height: 300px;
				border: none;
			}
				#branchOne_Branch {
					display: block;
					height: 108px;
					width: 25px;
					margin-left: 15px;
					border: 1px solid #663333;

					background-color: #663333;
				}
					#nodeOneBranchOne_Support {
						float: right;
						height: 50px;
						width: 150px;
						margin-right: 8px;
					}
						#nodeOneBranchOne_Node {
							height: 15px;
							width: 88px;
							background-color: #663300;
							border: 1px solid #663300;
								border-bottom-right-radius: 50px 6px ;
								border-top-right-radius: 50px 6px;
						}
							#nodeOneBranchOne_Leaf {
								float: right;
								height: 127.5px;
								width: 340px;
								margin-top: -72px;
								margin-right: -130px;
								background-color: green;
								border: 1px solid #006600;
									border-top-left-radius: 42.5px 85px;
									border-bottom-left-radius: 42.5px 85px;
									border-top-right-radius: 340px 59.6px;
									border-bottom-right-radius: 340px 59.7px;
								-moz-transform: scale(.1176);
								-webkit-transform: scale(.1176);
							}
				#deuxBranchOne_Branch {
					height: 108px;
					width: 25px;
					margin-left: 15px;
					background-color: #663333;
					border: 1px solid #663333;
						border-bottom-left-radius: 11px 50px;
						border-bottom-right-radius: 11px 50px;
				}
					#deuxBranchOne_Leaf {
						width: 408px;
						height: 425px;
						margin-left: -175.75px;
						margin-top: -188.5px;
						background-color: green;
						border: 1px solid #006600;

							border-top-left-radius: 40% 30%;
							border-top-right-radius: 40% 30%;
							border-bottom-left-radius: 44% 63%;
							border-bottom-right-radius: 44% 63%;
						-moz-transform: scale(.1176);
						-webkit-transform: scale(.1176);
						
					}
			
			#branchTwo_Support {
				float: right;
				display: block;
				margin-right: 200px;
				margin-top: -300px;
				width: 200px;
				height: 400px;
				border-top: none;
			}
				#branchTwo_Branch {
					display: block;
					height: 108px;
					width: 25px;
					margin-left: 30px;
					border: 1px solid #663333;
					background-color: #663333;
				}
					#nodeOneBranchTwo_Support {
						float: right;
						height: 50px;
						width: 150px;
						margin-right: 15px;
						-moz-transform: rotateZ(30deg);
						-webkit-transform: rotateZ(30deg);
					}
						#nodeOneBranchTwo_Node {
							height: 15px;
							width: 88px;
							background-color: #663300;
							z-index: -1;
							border: 1px solid #663300;
								border-bottom-right-radius: 50px 6px ;
								border-top-right-radius: 50px 6px;
						}
							#nodeOneBranchTwo_Leaf {
								float: right;
								height: 15px;
								width: 40px;
								margin-top: -16px;
								margin-right: 18px;
								background-color: green;
								border: 1px solid #006600;
									border-top-left-radius: 5px 10px;
									border-bottom-left-radius: 5px 10px;
									border-top-right-radius: 40px 7px;
									border-bottom-right-radius: 40px 7px;
							}
				#deuxBranchTwo_Branch {
					height: 180px;
					width: 25px;
					margin-left: 30px;
					background-color: #663333;
					border: 1px solid #663333;
						border-bottom-left-radius: 11px 50px;
						border-bottom-right-radius: 11px 50px;
				}
					#deuxBranchTwo_Leaf {
						height: 425px;
						width: 408px;
						margin-left: -161px;
						margin-top: -189px;

						background-color: green;
						border: 1px solid #006600;
							border-top-left-radius: 40% 30%;
							border-top-right-radius: 40% 30%;
							border-bottom-left-radius: 44% 63%;
							border-bottom-right-radius: 44% 63%;
						-moz-transform: scale(.1176);
						-webkit-transform: scale(.1176);
						
					}
						#deuxBranchOne_Leaf:hover,
						#deuxBranchTwo_Leaf:hover {
							cursor: pointer;	
						}
					
			#branchThree_Support {
				float: right;
				display: block;
				margin-right: 400px;
				margin-top: -400px;
				height: 350px;
				width: 200px;
				border-top: none;
			}
				#branchThree_Branch {
					display: block;
					margin-left: 128px;
					height: 70px;
					width: 20px;
					background-color: #663333;
					border: 1px solid #663333;
				}
					#nodeOneBranchThree_Support {
						display: block;
						float: right;
						width: 120px;
						height: 50px;
						margin-right:50px;
						-moz-transform: rotateZ(-40deg);
						-webkit-transform: rotateZ(-40deg);
					}
						#nodeOneBranchThree_Node {
							display: block;
							height: 14px;
							width: 98px;
							margin-top: 17px;
							margin-left: 19px;
							background-color: #663300;
							
							border: 1px solid #663300;
								border-top-left-radius: 38px 6px;
								border-bottom-left-radius: 38px 6px;
						}
							#nodeOneBranchThree_Leaf {
								float: left;
								width: 40px;
								height: 15px;
								margin-left: -19px;
								margin-top: -17px;
								background-color: green;
								border: 1px solid #006600;
									border-top-left-radius: 40px 6px;
									border-bottom-left-radius: 40px 6px;
									border-top-right-radius: 5px 10px;
									border-bottom-right-radius: 5px 10px;
							}
				#deuxBranchThree_Branch {
					height: 150px;
					width: 20px;
					background-color: #663333;
					margin-left: 128px;
					border: 1px solid #663333;
						border-bottom-left-radius: 7px 70px;
						border-bottom-right-radius: 7px 70px;
				}
					#deuxBranchThree_Leaf {
						height: 425px;
						width: 408px;
						margin-left: -66px;
						margin-top: -190px;
						background-color: green;
						border: 1px solid #006600;
							border-top-left-radius: 40% 30%;
							border-top-right-radius: 40% 30%;
							border-bottom-left-radius: 44% 63%;
							border-bottom-right-radius: 44% 63%;
						-moz-transform: scale(.1176);
						-webkit-transform: scale(.1176);
						
					}
			#branchFour_Support {
				float: right;
				display: block;
				margin-right: 600px;
				margin-top: -400px;
				height: 350px;
				width: 200px;
				
				border-top: none;
			}
				#branchFour_Branch {
					display: block;
					border: 1px solid #633333;
						border-bottom-left-radius: 3px 15px;
						border-bottom-right-radius: 11px 30px;
					background-color: #663333;
					height: 170px;
					width: 15px;
					margin-left: 112px;
				}
					#deuxBranchFour_Support {
						display: block;
						float: left;
						width: 160px;
						height: 100px;
						margin-left: 10px;
						margin-top: -14px;
						
					}
						#deuxBranchFour_Branch {
							display: block;
							margin-top: 10px;
							margin-left: 65px;
							width: 60px;
							height: 10px;
							background-color: #633333;
							border: 1px solid #633333;
								border-bottom-left-radius: 25px 4px;
								border-top-left-radius: 25px 4px;
								
							-moz-transform: rotate(-45deg);
						}
						
/****
 (below) Leaf border radii lengths were switched in their positions due to everything being built using the rotation as opposed to "going around it"
****/
							#deuxBranchFour_Rotate.support {
								-moz-transform: rotate(45deg);
								width: 100px;
								
							}
								#deuxBranchFour_Leaf {
									width: 408px;
									height: 425px;
									margin-left: -145px;
									margin-top: -188px;
									background-color: green;
									border: 1px solid green;
										border-top-right-radius:  40% 30%;
										border-top-left-radius: 40% 30%;
										border-bottom-right-radius: 44% 63%;
										border-bottom-left-radius: 44% 63%;
										
									
									-moz-transform:  scale(.1176);
									-webkit-transform: scale(.1176);
								}
								
/**** For leaf Animation ****/
	
	.leafGrow {
				-moz-animation: leafGrowAnimation 1s;
				-moz-transform: scale(1) !important;
				-moz-transition: none;
				z-index: 3;
				border-top-left-radius: 2% 2% !important;
				border-top-right-radius: 2% 2% !important;
				border-bottom-left-radius: 2% 2% !important;
				border-bottom-right-radius: 2% 2% !important;
				
				
				
				-webkit-animation: leafGrowAnimation 1s;
				-webkit-transform: scale(1);
				-webkit-transition: none;
			}
			
			.leafShrink {
				-moz-transition: all .5s;
				-webkit-transition: all .5s;
				z-index: 1 !important;
			}
				@-moz-keyframes leafGrowAnimation {
					0% {
						-moz-transform: scale(.1176);
						border-top-left-radius: 40% 30%;
						border-top-right-radius: 40% 30%;
						border-bottom-left-radius: 44% 63%;
						border-bottom-right-radius: 44% 63%;
						
					}
					15% {
						-moz-transform: scale(.0941);
						border-top-left-radius: 40% 30%;
						border-top-right-radius: 40% 30%;
						border-bottom-left-radius: 44% 63%;
						border-bottom-right-radius: 44% 63%;
					
					}
					100% {
						-moz-transform: scale(1);
						border-top-left-radius: 2% 2%;
						border-top-right-radius: 2% 2%;
						border-bottom-left-radius: 2% 2%;
						border-bottom-right-radius: 2% 2%;
					}
				}
				@-webkit-keyframes leafGrowAnimation {
					0% {
						-webkit-transform: scale(.1176);
						border-top-left-radius: 40% 30%;
						border-top-right-radius: 40% 30%;
						border-bottom-left-radius: 44% 63%;
						border-bottom-right-radius: 44% 63%;
					}
					15% {
						-webkit-transform: scale(.0941);
						border-top-left-radius: 40% 30%;
						border-top-right-radius: 40% 30%;
						border-bottom-left-radius: 44% 63%;
						border-bottom-right-radius: 44% 63%;
					}
					100% {
						-webkit-transform: scale(1);
						border-top-left-radius: 2% 2%;
						border-top-right-radius: 2% 2%;
						border-bottom-left-radius: 2% 2%;
						border-bottom-right-radius: 2% 2%;
					}
				}
				
/**** The animation below is for the leaves that rotate when clicked on ****/

#deuxBranchFour_Rotate.leafRotate {
	-moz-transition: all .5s;
	-moz-transform: rotate(0deg);
}

#deuxBranchFour_Rotate.leafDeRotate {
	-moz-transform: rotate(45deg) !important;
	-moz-transition: all .5s;
}
