#leafDeuxBranchOne.wikiImage, 
#leafDeuxBranchTwo.wikiImage,
#leafDeuxBranchThree.wikiImage,
#leafDeuxBranchFour.wikiImage {
	font: 300 .75em "Gill Sans", "Helvetica Neue", Arial, sans-serif;
	text-align: center;
	height: 318px;
	width: 220px;
	-moz-transform: scale(1) !important;
	margin-left: 92px;
	margin-top: 50px;
	border: 1px solid rgb(128, 128, 128);
		border-radius: 5px;
}


div.divTitleTexts {
	text-align: center;
	height: 30px;
	width: 80px;
	cursor: pointer;

}
	div.divTitleTexts:hover .titleTexts {
		animation: none !important;
		color: rgb(0, 0, 0);
		transition-property: color;
		
		
		
	}
		div#divWords_leafDeuxBranchOne.divTitleTexts {
			margin-top: -170px;
			margin-left: 36px;
			transform: rotateZ(-27deg);
		}
		div#divWords_leafDeuxBranchTwo.divTitleTexts {
			margin-top: -170px;
			margin-left: 30px;
			transform: rotateZ(-25deg);
		}
		div#divWords_leafDeuxBranchThree.divTitleTexts {
			margin-top: -170px;
			margin-left: 120px;
			transform: rotateZ(-20deg);
		}
		div#divWords_leafDeuxBranchFour.divTitleTexts {
			margin-top: -160px;
			margin-left: 40px;
			transform: rotateZ(-15deg);
		}
	
	
	
	h1.titleTexts {
		font: 300 1.1em "Gill Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: rgb(102, 102, 102);
		text-align: center;
		display: inline;
		-moz-transition: color .5s;

	}
	
	h1#words_leafDeuxBranchOne.titleTexts {
		-moz-animation-name: wipeAnimation;
			-moz-animation-duration: 10s;
			-moz-animation-direction: reverse;
			-moz-animation-iteration-count: infinite;
			-moz-animation-delay: 7s;
	}
	h1#words_leafDeuxBranchTwo.titleTexts {
		-moz-animation-name: wipeAnimation;
			-moz-animation-duration: 9s;
			-moz-animation-iteration-count: infinite;
			-moz-animation-direction: reverse;
			-moz-animation-delay: 3s;
	}
	h1#words_leafDeuxBranchThree.titleTexts {
		-moz-animation-name: wipeAnimation;
			-moz-animation-duration: 12s;
			-moz-animation-iteration-count: infinite;
			-moz-animation-direction: reverse;
			-moz-animation-delay: 5s;
	}
	h1#words_leafDeuxBranchFour.titleTexts {
		-moz-animation-name: wipeAnimation;
			-moz-animation-duration: 10s;
			-moz-animation-iteration-count: infinite;
			-moz-animation-direction: reverse;
			-moz-animation-delay: 2s;
			
	}


		@-moz-keyframes wipeAnimation {
			0% {
				color: rgb(102, 102, 102);
			}
			50% {
				color: rgb(255, 255, 255);
			}
			100% {
				color: rgb(102, 102, 102);
			}
		}