html {
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	height: 100%;
	margin: 0;
	padding: 0;
}
#container {
	height: 100%;
	width: auto;
	padding: 0;
	margin: 0;
	
}
#treeContainer {
	height: 75%;
	width: auto;
	padding: 0;
	background-color: rgb(153, 255, 255);
	z-index: 0;
	clear: both;
}
#grass {
	height: 25%;
	width: 100%;
	background-color: rgb(0, 255, 102);
	margin: 0;
	margin-top: 0px; /*-561px;*/
	padding: 0;
	
	
	
	
}
	#tree {
		height: 496px;
		width: 996px;
		margin-left: 21%;
		perspective: 500px;
		margin-top: -10px;
		

	}
		#mainBranch.branch {
			border: 1px solid rgb(102, 102, 102);
				border-top-left-radius: 300px 25px;
				border-bottom-left-radius: 250px 25px;
			border-right: none;
			background-color: rgb(255, 255, 255);
			margin-top: 10px;
			margin-left: 108px;
			height: 49px;
			width: 890px;
		}
			#branchOne_Support {
				display: block;
				margin-left: 700px;
				width: 200px;
				height: 300px;
				border: none;
				transform: rotateZ(27deg);
			}
				#branchOne_Branch {
					display: block;
					height: 108px;
					width: 25px;
					margin-left: 35px;
					border: 1px solid rgb(102, 102, 102);
						border-bottom: none;
						border-top: none;

					background-color: rgb(255, 255, 255);
				}
					#nodeOneBranchOne_Support {
						float: right;
						height: 50px;
						width: 150px;
						margin-right: -5px;
						transform: rotateZ(10deg);
					}
						#nodeOneBranchOne_Node {
							height: 15px;
							width: 88px;
							background-color: rgb(255, 255, 255);
							border: 1px solid rgb(102, 102, 102);
								border-left: none;
									border-bottom-right-radius: 50px 6px ;
									border-top-right-radius: 50px 6px;
						}
							#nodeOneBranchOne_Leaf {
								float: right;
								height: 127.5px;
								width: 340px;
								margin-top: -72px;
								margin-right: -130px;
								background-color: rgb(255, 255, 255);
								border: 1px solid rgb(0,0,0);
									border-top-left-radius: 42.5px 85px;
									border-bottom-left-radius: 42.5px 85px;
									border-top-right-radius: 340px 59.6px;
									border-bottom-right-radius: 340px 59.7px;
									
								-moz-transform: scale(.1176);
								-webkit-transform: scale(.1176);
							}
				#deuxBranchOne_Branch {
					height: 108px;
					width: 25px;
					margin-left: 35px;
					background-color: rgb(255, 255, 255);
					border: 1px solid rgb(102, 102, 102);
					border-top: none;
						border-bottom-left-radius: 11px 50px;
						border-bottom-right-radius: 11px 50px;
				}
					#deuxBranchOne_Leaf {
						width: 408px;
						height: 425px;
						margin-left: -156.75px;
						margin-top: -189.5px;
						background-color: rgb(255, 255, 255);
						border: 1px solid rgb(0,0,0);
							border-top-left-radius: 40% 30%;
							border-top-right-radius: 40% 30%;
							border-bottom-left-radius: 44% 63%;
							border-bottom-right-radius: 44% 63%;
							
						-moz-transform: scale(.1176);
						-webkit-transform: scale(.1176);
						
					}
			
			#branchTwo_Support {
				float: right;
				display: block;
				margin-right: 320px;
				margin-top: -305px;
				width: 200px;
				height: 400px;
				border-top: none;
				transform: rotateZ(25deg);
			}
				#branchTwo_Branch {
					display: block;
					height: 108px;
					width: 22px;
					margin-left: 30px;
					border: 1px solid rgb(102, 102, 102);
						border-top: none;
						border-bottom: none;
						
					background-color: rgb(255, 255, 255);
				}
					
					#nodeOneBranchTwo_Support {
						float: right;
						height: 50px;
						width: 150px;
						margin-right: 20px;
						-moz-transform: rotateZ(30deg);
						-webkit-transform: rotateZ(30deg);
					}
						#nodeOneBranchTwo_Node {
							height: 15px;
							width: 88px;
							background-color: rgb(255, 255, 255);
							z-index: -1;
							border: 1px solid rgb(102, 102, 102);
								border-left: none;
									border-bottom-right-radius: 50px 6px ;
									border-top-right-radius: 50px 6px;
						}
							#nodeOneBranchTwo_Leaf {
								float: right;
								height: 127.5px;
								width: 340px;
								margin-top: -73px;
								margin-right: -130px;
								background-color: rgb(255, 255, 255);
								border: 1px solid rgb(0,0,0);
									border-top-left-radius: 42.5px 80px;
									border-bottom-left-radius: 42.5px 80px;
									border-top-right-radius: 340px 59.6px;
									border-bottom-right-radius: 340px 59.7px;
									
								-moz-transform: scale(.1176);
								-webkit-transform: scale(.1176);
							}
				#deuxBranchTwo_Branch {
					height: 180px;
					width: 22px;
					margin-left: 30px;
					background-color: rgb(255, 255, 255);
					border: 1px solid rgb(102, 102, 102);
						border-top: none;
						border-bottom-left-radius: 11px 50px;
						border-bottom-right-radius: 11px 50px;
				}
					#deuxBranchTwo_Leaf {
						height: 425px;
						width: 408px;
						margin-left: -161px;
						margin-top: -189px;

						background-color: rgb(255, 255, 255);
						border: 1px solid rgb(0,0,0);
							border-top-left-radius: 40% 30%;
							border-top-right-radius: 40% 30%;
							border-bottom-left-radius: 44% 63%;
							border-bottom-right-radius: 44% 63%;
						-moz-transform: scale(.1176);
						-webkit-transform: scale(.1176);
						
					}
						#deuxBranchOne_Leaf:hover,
						#deuxBranchTwo_Leaf:hover {
							cursor: pointer;	
						}
					
			#branchThree_Support {
				float: right;
				display: block;
				margin-right: 545px;
				margin-top: -425px;
				height: 350px;
				width: 200px;
				border-top: none;
				transform: rotateZ(20deg);
			}
				#branchThree_Branch {
					display: block;
					margin-left: 128px;
					height: 70px;
					width: 20px;
					background-color: rgb(255, 255, 255);
					border: 1px solid rgb(102, 102, 102);
						border-bottom: none;
						border-top: none;
				}
					#nodeOneBranchThree_Support {
						display: block;
						float: right;
						width: 120px;
						height: 50px;
						margin-right:50px;
						
						transform: rotateZ(-40deg);
						transform: rotateZ(-40deg);
					}
						#nodeOneBranchThree_Node {
							display: block;
							height: 14px;
							width: 98px;
							margin-top: 17px;
							margin-left: 19px;
							background-color: rgb(255, 255, 255);
							
							border: 1px solid rgb(102, 102, 102);
							border-right: none;
								border-top-left-radius: 38px 6px;
								border-bottom-left-radius: 38px 6px;
						}
							#nodeOneBranchThree_Leaf {
								float: left;
								width: 340px;
								height: 127.5px;
								margin-left: -170px;
								margin-top: -73px;
								background-color: rgb(255, 255, 255);
								
								border: 1px solid rgb(0,0,0);
									border-top-left-radius: 340px 59.6px;
									border-bottom-left-radius: 340px 59.6px;
									border-top-right-radius: 42.5px 80px;
									border-bottom-right-radius: 42.5px 80px;
									
								-moz-transform: scale(.1176);
								-webkit-transform: scale(.1176);
							}
				#deuxBranchThree_Branch {
					height: 150px;
					width: 20px;
					background-color: rgb(255, 255, 255);
					margin-left: 128px;
					border: 1px solid rgb(102, 102, 102);
					border-top: none;
						border-bottom-left-radius: 7px 70px;
						border-bottom-right-radius: 7px 70px;
				}
					#deuxBranchThree_Leaf {
						height: 425px;
						width: 408px;
						margin-left: -66px;
						margin-top: -190px;
						background-color: rgb(255, 255, 255);
						border: 1px solid rgb(0, 0, 0);
							border-top-left-radius: 40% 30%;
							border-top-right-radius: 40% 30%;
							border-bottom-left-radius: 44% 63%;
							border-bottom-right-radius: 44% 63%;
						-moz-transform: scale(.1176);
						-webkit-transform: scale(.1176);
						
					}
			#branchFour_Support {
				float: right;
				display: block;
				margin-right: 700px;
				margin-top: -406px;
				height: 350px;
				width: 200px;
				
				border: none;
				transform: rotateZ(15deg);
			}
				#branchFour_Branch {
					display: block;
					border: 1px solid rgb(102, 102, 102);
						border-bottom: none;
						border-top: none;
							border-bottom-left-radius: 3px 15px;
							border-bottom-right-radius: 11px 30px;
					background-color: rgb(255, 255, 255);
					height: 170px;
					width: 15px;
					margin-left: 112px;
				}
					#deuxBranchFour_Support {
						display: block;
						float: left;
						width: 160px;
						height: 100px;
						margin-left: 10px;
						margin-top: -14px;
						
					}
						#deuxBranchFour_Branch {
							display: block;
							margin-top: 10px;
							margin-left: 65px;
							width: 60px;
							height: 10px;
							background-color: rgb(255, 255, 255);
							border: 1px solid rgb(102, 102, 102);
								border-right: none;
									border-bottom-left-radius: 25px 4px;
									border-top-left-radius: 25px 4px;
								
							-moz-transform: rotate(-45deg);
						}
						
/****
 (below) Leaf border radii lengths were switched in their positions due to everything being built using the rotation as opposed to "going around it"
****/
							#deuxBranchFour_Rotate.support {
								-moz-transform: rotate(45deg);
								width: 100px;
								
							}
								#deuxBranchFour_Leaf {
									width: 408px;
									height: 425px;
									margin-left: -145px;
									margin-top: -188px;
									background-color: rgb(255, 255, 255);
									border: 1px solid rgb(0,0,0);
										border-top-right-radius:  40% 30%;
										border-top-left-radius: 40% 30%;
										border-bottom-right-radius: 44% 63%;
										border-bottom-left-radius: 44% 63%;
									
									-moz-transform:  scale(.1176);
									-webkit-transform: scale(.1176);
									transform: scale(.1176);
								}
								
/**** For leaf Animation ****/
	
	
				@-moz-keyframes leafGrowAnimation {
					
				}
				@keyframes leafGrowAnimation {
					
				}
				
				@-webkit-keyframes leafGrowAnimation {
					
				}
				
/**** The animation below is for the leaves that rotate when clicked on ****/

#deuxBranchFour_Rotate.leafRotate {

}

#deuxBranchFour_Rotate.leafDeRotate {

}
